div.threat-tic-gauge-container {
  width: 60px;
  height: 60px;
  background-color: inherit;
  float: left;
}

div.tic-gauge-container {
  width: 60px;
  height: 60px;
  background-color: inherit;
  float: right;
}

div.threat-container {
  word-break: break-all;
  word-wrap: break-word;
  padding-bottom: 5px;
}

div.threat-container:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.row {
  margin: 0px;
}

.attribute-row {
  padding-bottom: 3px;
}

div [class*='col-'] {
  padding-left: 5px;
  padding-right: 5px;
}

div.container-fluid {
  padding: 0px;
}

.header {
  display: flex;
  align-items: center;
  padding: 0px 5px;

  .header-value {
    font-weight: bold;
    font-size: 14px;
  }

  .header-key {
    margin-top: 5px;
  }

  .header-item {
    margin-right: 15px;
  }
}

// // Indicator Header
h1 {
  font-size: 14px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
}

// Threat Header
h2 {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  margin-top: 15px;
  margin-left: -5px;
}

// Attribute Header
h3 {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  padding-top: 5px;
}

.element-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    margin-left: 10px;
  }
}

.no-threats-container {
  h2 {
    font-size: 14px;
    padding: 5px;
    margin: 0px;
  }
}

.locations-toggle {
  background-color: #f0f0f0;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;

  &.open {
    border-radius: 4px 4px 0px 0px;
  }

  &:hover {
    background-color: darken(#f0f0f0, 5%);
  }
}

.toggle-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toggle-icon {
  margin-left: 10px;
}

.toggle-text {
  font-size: 14px;
  font-weight: bold;
}

.data-container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 5px;
  width: 100%;
  border-top: 0px;
}

.card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.p-title {
  margin-bottom: 16px;
}

.key {
  flex: 1;
  font-weight: bold;
  margin-right: 8px;
}

.value {
  flex: 2;
}

.card-item span:first-child, .emphasize-text {
  font-weight: 500;
}



.ownership {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-top: 10px;
}

.ownership-item {
  margin-bottom: 5px;
  border: 1px solid #efefef;
  padding: 3px;
}

.association-info {
  margin-top: 10px;
}

.dns-history {
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 25px;
  background-color: white;
  margin-top: 30px;
}

.dns-history-info {
  margin-top: 10px;
}

.dns-link {
  margin-top: 12px;
}
